body
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	line-height : 18px;
	text-align : justify;
	margin : auto;
	border : auto;
	padding : auto;
	background : #F0F0F0;
}

h1
{
	font-size : 50px;
}

a:link, a:visited
{
	color : #006633;
	text-decoration : none;
}

a:hover, a:active
{
	color : #002211;
	text-decoration : none;
}

#Strip
{
	width : 700px;
	margin : auto;
	padding-left : 34px;
	padding-right : 34px;
	height : 90px;
	background : #006633;
	border : 1px solid #006633;
}

#Header
{
	width : 700px;
	margin : 0px auto;
	padding : 0px auto;
	color : #F0F0F0;
}

#NavigationBarStrip
{
	width : 700px;
	margin : auto;
	padding-left : 34px;
	padding-right : 34px;
	background : #CCEE88;
	border : 1px solid #CCEE88;
}

#NavigationBar
{
	width : 700px;
	margin : 0px auto;
	font-size : 20px;
}

#NavigationBar ul
{
	list-style-type : none;
	margin-left : 0px;
	margin-right : 0px;
	padding : 0px;
}

#NavigationBar li
{
	padding-right : 40px;
	display : inline;
}

#Container
{
	width : 700px;
	margin : 0px auto;
	padding-left : 34px;
	padding-right : 34px;
	background : #FFFFFF;
	border : 1px solid #FFFFFF;
}

#Topic
{
	margin-top : 30px;
	margin-bottom : 30px;
}

#Footer
{
	width : 700px;
	margin : 0px auto;
	padding : 0px auto;
	color : #DDDDDD;
	text-align : right;
}

